@{
    ViewData["Title"] = "Home Page";
}
@model ActivityT
<div class="text-center">
    <h2>Dojo Activity Center <h5><a asp-action="Logout" asp-controller="Home">Logout</a> <a asp-action="Dashboard" asp-controller="Activity">Home</a></h5> </h2> 
    <h4>Create An Activity</h4>
    <br>
    <form asp-action="Add" asp-controller="Activity" method="POST">
        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title" /><br />
            <span style="color: red; font-size: 8pt;" asp-validation-for="Title"></span>
        </div>
        <div>
            <label asp-for="ActivityDate"></label>
            <input asp-for="ActivityDate" /><br />
            <span style="color: red; font-size: 8pt;" asp-validation-for="ActivityDate"></span>
        </div>
        <div>
            <label asp-for="ActivityTime"></label>
            <input asp-for="ActivityTime" />
            <select asp-for="Time">
                <option>A.M.</option>
                <option>P.M.</option>
            </select><br />
            <span style="color: red; font-size: 8pt;" asp-validation-for="ActivityTime"></span>
        </div>
        <div>
            <label asp-for="ActivityDuration"></label>
            <input asp-for="ActivityDuration" />
            <select asp-for="Duration">
                <option>Minutes</option>
                <option>Hours</option>
                <option>Days</option>
            </select><br />
            <span style="color: red; font-size: 8pt;" asp-validation-for="ActivityDuration"></span>
        </div>
        <div>
            <label asp-for="Description" style="vertical-align: top;"></label>
            <textarea asp-for="Description"></textarea><br />
            <span style="color: red; font-size: 8pt;" asp-validation-for="Description"></span>
        </div>
        <button type="submit">Create Activity</button>
    </form>
</div>

